@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Add padding to body or your main container */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

header {
  top: env(safe-area-inset-top, 0px) !important;
}

@layer base {
  :root {
    --background: 220 91% 95.7%;
    --foreground: 210 20% 20%;
    --card: 0 0% 100%;
    --card-foreground: 210 20% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 20%;
    --primary: 210 50% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 30% 90%;
    --secondary-foreground: 210 50% 30%;
    --muted: 210 30% 90%;
    --muted-foreground: 210 20% 40%;
    --accent: 182 25% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 98%;
    --ring: 210 50% 40%;
    --chart-1: 210 50% 40%;
    --chart-2: 182 25% 50%;
    --chart-3: 210 80% 70%;
    --chart-4: 182 50% 70%;
    --chart-5: 210 30% 50%;
    --radius: 0.5rem;

    --sidebar-background: 210 50% 25%;
    --sidebar-foreground: 210 30% 90%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 210 50% 25%;
    --sidebar-accent: 210 50% 35%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 50% 30%;
    --sidebar-ring: 182 25% 50%;
  }
  .dark {
    --background: 220 20% 7%;
    --foreground: 220 20% 90%;
    --card: 220 20% 10%;
    --card-foreground: 220 20% 90%;
    --popover: 220 20% 10%;
    --popover-foreground: 220 20% 90%;
    --primary: 210 50% 60%;
    --primary-foreground: 210 50% 10%;
    --secondary: 210 20% 15%;
    --secondary-foreground: 210 20% 90%;
    --muted: 210 20% 15%;
    --muted-foreground: 210 20% 60%;
    --accent: 182 25% 60%;
    --accent-foreground: 182 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 15%;
    --input: 210 20% 12%;
    --ring: 210 50% 60%;
    --chart-1: 210 50% 60%;
    --chart-2: 182 25% 60%;
    --chart-3: 210 80% 70%;
    --chart-4: 182 50% 70%;
    --chart-5: 210 30% 50%;

    --sidebar-background: 220 20% 10%;
    --sidebar-foreground: 210 30% 90%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 210 50% 25%;
    --sidebar-accent: 210 20% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 20% 20%;
    --sidebar-ring: 182 25% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
